@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
}

@media (min-width: 600px) {
  .hide {
    display: none; /* Hide the mobile drawer */
  }
  .show {
    display: block; /* Hide the mobile drawer */
  }
}

/* .video-container {
  overflow-x: auto;
  max-width: 100%;
  max-height: calc(100vh - 64px);
}

.react-player {
  max-width: none !important;
} */



